<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPI Transactions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
    <nav>
        <a href="/all">All Transactions</a>
    </nav>
<h3>Current Bank ,Balance Amount as on {{.BalonDate}}: <mark>{{.CurBal | humanize | currit}}</mark></h3>
    <hr>
    <h3>Maximum Debited Amount from UPI: {{.UPIPoints.MxDebit | humanize | currit}}</h3>
    <h3>Maximum Credit Amount from UPI: {{.UPIPoints.MxCredit | humanize | currit}}</h3>
    <hr>
    <h3>Sum of Transactions in UPI</h3>
    <h4>Total Debited Amount:{{.UPISum.DebSum| humanize | currit}}</h4>
    <h4>Total Credited Amount: {{.UPISum.CredSum| humanize | currit}}</h4>
    <ol>
    <hr>
    {{- range .UPITrans }}
    <li><mark>{{.Date}}</mark></li>
    <ul>
    {{- if not .Credit.Valid}}
    <li>{{.Description}}</li>
    <li>{{.Refno.String}}</li>
    <li>Debited: 🙈 {{ .Debit.Float64 | humanize | currit }}</li>
    {{- else}}
    <li>{{.Description}}</li>
    <li>{{.Refno.String}}</li>
    <li>Credit: 🤑 {{ .Credit.Float64 | humanize | currit}}</li>
    {{end -}}
    </ul>
    
    {{- end}}
    </ol>
</body>
</html>